<div class="container">
  <div class="text-center">
    <h1>NICOLAS CARDENAS</h1>
    <h2>Web Developer</h2>
    <hr>
    <div class="py-3">
      <h3>Movistar e-commerce</h3>
      <div class="row pt-4">
        <div class="col-md-4">
          <p>2018-present</p>
          <p>E-commerce developed for the Telefonica company, using tools such as JS, JQuery, AngularJs, SOAP Services, Typescript</p>
          <a href="https://mimovistar.movistar.co/cwp/baas/selfservice/html/offer/offeringlist.html?sceneCode=ESHOPGLOBAL&classificationId=110370&_ga=2.245952391.220578552.1595887090-2000185269.1586881549#/offeringlist">Go to the website.</a>
        </div>
        <div class="col-md-8">
          <img src="../assets/img/movistar1.png" alt="" class="img-fluid">
        </div>
      </div>
      <div class="row py-5">
        <div class="col-md-8">
          <img src="../assets/img/movistar2.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-4">
          <img src="../assets/img/movistar3.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
    <hr>
    <div class="py-3">
      <h3>descuentoonline.co</h3>
      <div class="row pt-4">
        <div class="col-md-4">
          <p>2020</p>
          <p>E-commerce created for the company decuentosonline. Developed in the Wordpress CMS with the Woocommerce plugin, payment integration with e-payco. The design is completely original.
          </p>
          <a href="https://descuentoonline.co">Go to the website.</a>
        </div>
        <div class="col-md-8">
          <img src="../assets/img/descuento1.png" alt="" class="img-fluid">
        </div>
      </div>
      <div class="row py-5">
        <div class="col-md-8">
          <img src="../assets/img/descuento2.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-4">
          <img src="../assets/img/descuento3.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
    <hr>
    <div class="py-3">
      <h3>dafrud</h3>
      <div class="row pt-4">
        <div class="col-md-4">
          <p>2019</p>
          <p>E-commerce developed for a company of nuts in the city of Bogota, it was developed in the CMS Wordpress together with the Woocommerce plugin, the design is completely original.
          </p>
          <a href="https://cerealesyfrutossecos.com">Go to the website.</a>
        </div>
        <div class="col-md-8">
          <img src="../assets/img/dafrud1.png" alt="" class="img-fluid">
        </div>
      </div>
      <div class="row py-5">
        <div class="col-md-8">
          <img src="../assets/img/dafrud2.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-4">
          <img src="../assets/img/dafrud3.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
    <hr>
    <div class="py-3">
      <h3>movistar plan digital</h3>
      <div class="row pt-4">
        <div class="col-md-4">
          <p>2019</p>
          <p>Digital blog created for the company Telefonica, developed in the CMS Wordpress

          </p>
          <a href="https://plandigital.co">Go to the website.</a>
        </div>
        <div class="col-md-8">
          <img src="../assets/img/plan1.png" alt="" class="img-fluid">
        </div>
      </div>
      <div class="row py-5">
        <div class="col-md-8">
          <img src="../assets/img/plan2.png" alt="" class="img-fluid">
        </div>
        <div class="col-md-4">
          <img src="../assets/img/plan3.png" alt="" class="img-fluid">
        </div>
      </div>
    </div>
    <hr>
  </div>

</div>